<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />

    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script> -->

    <title>Document</title>
</head>

<body>
    <!-- <h3 th:text="${mesanje}"></h3>-->

    <!-- ul>li*3>a:link -- generacion de links -->
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="#">Enlace 3</a></li>
    </ul>

    
    <div>
        <label>Nombre</label>
        <input type="text" placeholder="Search...">
    </div> 
    <div>
        <label>Correo</label>
        <input type="text" placeholder="Search...">
    </div> 
    <div>
        <!-- buttom: submit -->
        <button type="submit">Enviar</button>
    </div>

    <!-- comandos y avreviaturas emmet -->
</body>

</html>